__pycache__/
*.py[cod]
*.so
.DS_Store
._*

.venv/
venv/
env/
.ipynb_checkpoints/

checkpoints/**
!checkpoints/
!checkpoints/pdgam/
!checkpoints/pdgam/Comp_v6_KLD005/
!checkpoints/pdgam/Comp_v6_KLD005/opt.txt
!checkpoints/pdgam/Comp_v6_KLD005/meta/
!checkpoints/pdgam/Comp_v6_KLD005/meta/Mean.npy
!checkpoints/pdgam/Comp_v6_KLD005/meta/Std.npy

glove/
log/
wandb/
generation/
data/downstreamEval/
*.tar
*.pth
*.pt
*.ckpt
*.mp4
*.gif
*.png
*.jpg
*.jpeg
